__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
build/
dist/
logs/
*.log
data/
datasets/
weights/
checkpoints/
artifacts/
*.zarr
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg

*.egg-info/
